<!DOCTYPE html>
html(lang="en")
	head
		block meta
			meta(charset="UTF-8")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			meta(http-equiv="X-UA-Compatible", content="ie=edge")

		if title
			title=`${locals.sitename} - ${title}`
		else
			title=locals.sitename

		block styles
			link(rel="stylesheet", href="/css/master.css")

	body
		block content
			nav.navbar
				a(href="#").navbar__item Lorem
				a(href="#").navbar__item Impsum
				a(href="#").navbar__item Dolor
				a(href="#").navbar__item Sit
				a(href="#").navbar__item Amet

		block scripts
			script(src="/js/index.js")